table th,
table,
table td {
  border-radius: 1px;
  border-style: solid;
  gap: 0px;
  border-color: rgb(0, 0, 0);
}
table td {
  height: 20px;
}
button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-1 {
  background-color: rgb(0, 255, 0);
  margin-left: 20px;
}
.button-2 {
  background-color: rgb(255, 0, 0);
  margin-left: 10px;
}
